# data
pandas~=2.2.3
requests~=2.32.3
matplotlib~=3.9.2

# db
psycopg2-binary~=2.9.10
sqlalchemy~=2.0.36

# server
apscheduler~=3.10.4
fastapi~=0.115.2
uvicorn[standard]~=0.34.0

# auth
pyjwt~=2.9.0
pydantic~=2.9.2
python-dotenv~=1.0.1

# formatting
black==25.1.0
isort==6.0.1

# crypto
ccxt==4.4.42
pyupbit==0.2.34